{{> nav }}

<div class = "container-fluid">
    
    <div class = "row">
        <div class = "col-12">
            <header class = "jumbotron">
                <h1>New York Times Web Scraper</h1>
            </header>
        </div>
    </div>

    <div class = "row">
        <div class = "col-12 article-container"></div>
    </div>
</div>